.profile-preview {
    margin: 15px;
    width: 125px;
}

.gallery {
    display: inline-block;
    margin-top: 20px;
}

.close-icon {
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: -10px;
    padding: 5px 8px;
}

.form-image-upload {
    background: #e8e8e8 none repeat scroll 0 0;
    padding: 15px;
}

/*
Image Selector Css
 */
.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label > img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label > img {
    margin: 5px;
    border: 1px solid #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
}

/* --   -- */
.preview-section {
    align-content: center;
    margin: 2px;
    height: 240px;
    width: 240px;
    border: 1px dashed black;
}

@media all and (max-width: 600px) {
    .preview-section {
        align-content: center;
        margin: 2px;
        margin-left: 50px;
        height: 180px;
        width: 240px;
        border: 1px dashed black;
    }
}

.gallery-section {
    margin-left: 15px;
    margin-top: 3px;
}

@media all and (max-width: 600px) {
    .gallery-section {
        margin-left: 15px;
        margin-top: 50px;
    }
}

.upload-section {
    height: 240px;
}

